<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--Import Google Icon Font-->
      
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="../main.css">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../materialize.min.css"  media="screen,projection"/>
    <title>Headlines</title>
</head>

<body>

  

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">ROME</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/headline">Headlines</a></li>
        <li><a href="/search">search</a></li>
      </ul>
      <ul class="right">
        <form action="">
          <li class=""><input type="text" id="searchbtn"  placeholder="Search.."></li>
        <a href="search.ejs"><li class=""><input type="submit" id="searchbtn" class="btn" placeholder="Search.."></li></a>
        </form>
      </ul>
    </div>
  </nav>





    <div class="container">
         
        <h1>Headlines</h1>
        <% for (let i = 0; i < response.articles.length; i++) { %>
            <div class="row">
                <div class="col s12 m7">
                  <div class="card">
                    <div class="card-image">
                      <img src="<%= response.articles[i].urlToImage %>">
                    </div>
                    <div class="card-content">
                      <span class="card-title"><%= response.articles[i].title %> <br>
                        <div>
                          <h4 class="author"> Author: <%=response.articles[i].author  %> </h4>
                        </div>
                        <div> <h4 class="published"> Published: <%= response.articles[i].publishedAt%> </h4> </div>
                    </span>
                    
                        <!-- <p><%= response.articles[i].description %></p> -->
                    </div>
                    <div class="card-action" id="link">
                      <a href="<%=response.articles[i].url%>" target="_blank">Read Article</a>
                    </div>
                  </div>
                </div>
              </div> 
        <% } %>

    </div>
        <script type="text/javascript" src="../materialize.min.js"></script>
        <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
        <script src="../news.js"></script>

</body>

</html>